<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'All Pages', index_admin_pages_path %> | 
<%= link_to 'New Page', new_page_path %> | 
<%= link_to 'User’s view', page_path(@page) %>
<p>
  <strong>Name:</strong>
  <%= @page.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= m @page.body %>
</p>

 <p>Created <%= time_ago_in_words(@page.created_at) %> ago 
   <%- if @page.created_at != @page.updated_at -%>, 
    modified <%= time_ago_in_words(@page.updated_at) %> ago
   <% end %>
 </p>


